.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 52px;
}

.nav__menu-div{
    width: 400px;
}

.nav__menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.blue-button__text{
    color: #118DA8;
    font-size: 20px;
    line-height: 27px;
}

.white-button__text{
    color: white;
    font-size: 20px;
    line-height: 27px;
}

.nav__blue-button{
    display: flex;
    justify-content: space-between;
}

.header__main{
    display: flex;
    justify-content: center;
}

.header__main-object{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.main__info-text{
    font-weight: 300;
    font-size: 70px;
    line-height: 88px;
    color: white;
    height: 176px;
    width: 500px;
    margin-top: 50%;
}

.main__image-object{
    width: 650px;
    height: 873px;
    border-radius: 12px;
}

.main__platforms{
    margin-top: 30%;
}

.platforms__text{
    font-size: 15px;
    line-height: 24px;
    color: white;
    margin-bottom: 15px;
}

.platforms__music-list{
    display: flex;
    width: 230px;
    justify-content: space-between;
}